.scrollbar {
  --scrollbarBG: #EDEDED;
  --thumbBG: #EDAF4E;
}

.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.scrollbar:hover {
  scrollbar-width: thin;
  scrollbar-color: #979797 var(--scrollbarBG);
}
.scrollbar::-webkit-scrollbar-track {
  /*background: var(--scrollbarBG);*/
  background: #EDEDED;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #979797;
  border-radius: 6px;
  border: 2px solid #979797;
}
:hover > .scrollbar::-webkit-scrollbar-thumb {
  background: #EDAF4E;
  border-radius: 6px;
  border: 2px solid #EDAF4E;
}
