<template>
  <div
    class="border-white duration-150 bg-black w-full min-h-screen relative select-none flex justify-start flex-col items-start text-white uppercase">
    <Header/>
    <Nuxt/>
    <svg width="50%" height="70%" class="bg-new-blue absolute top-40 right-10 opacity-70 z-0"></svg>
    <!-- <img src="/img/arch.png" alt="" class="max-w-[50%] max-h-[50%] absolute bottom-0 left-10 brightness-50"> -->

  </div>
</template>

<script>
import Header from '../components/Header'

export default {
  components: {
    Header
  },
}
</script>

<style>
</style>
