<template>
  <div class="w-full border-t-2 border-main-orange z-10">
    <div class="mb-10 mt-5 mx-2 z-10 flex items-center">
      <NuxtLink to="/maintain"
                class="text-white mx-auto uppercase md:text-2xl text-lg hover:underline hover:cursor-pointer">
        редактировать базу знаний
      </NuxtLink>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Bottom'

}
</script>
