<template>
  <div class="w-2/3 bg-transparent transition-all mx-2 relative">
    <div class="w-full bg-white flex flex-row items-center">
      <input
        type="text"
        class="w-full text-black py-1 px-2 mr-2 cursor-pointer"
        v-model="attrName"
        readonly
        v-on:click="()=>{open = !open}"
      />
      <svg
        v-on:click="closeMenu"
        v-if="open" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24"
        stroke="black"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"/>
      </svg>
      <svg
        v-on:click="openMenu"
        v-else xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24"
        stroke="black" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
      </svg>
    </div>
    <ul v-if="open"
        class="w-full rounded-b-md border border-main-orange absolute bg-black max-h-[230px] overflow-y-scroll">
      <li v-for="item of variants"
          class="px-2 py-2 hover:cursor-pointer hover:bg-main-orange w-full border-b border-main-orange flex flex-row justify-between items-center"
          v-on:click="setAtrName(item.name)">
        {{ item.name }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "DropdownList",
  props: {
    attrName: '',
    variants: [],
  },
  data: () => ({
    open: false,
  }),
  methods: {
    openMenu() {
      this.open = true;
    },
    closeMenu() {
      this.open = false;
    },
    setAtrName(newName) {
      this.open = false;
      this.attrName = newName;
      this.$emit('setAtrName', newName);
    },
  }
}
</script>

<style scoped>

</style>
