<template>
  <div class="w-full border-b-2 border-main-orange z-10">
    <div class="md:my-10 my-4 mx-2 z-10 flex items-center">
      <h1 class="mx-auto text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl"> архитектурный
        классификатор </h1>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header'

}
</script>
