<template>
  <div class="grid grid-cols-12 gap-4 w-full">
    <div class="col-span-12 grid grid-cols-12 gap-4">
      <div class="md:col-span-5 col-span-10 bg-transparent transition-all mx-2 relative">
        <div class="w-full bg-white flex flex-row items-center">
          <input
            type="text"
            class="w-full text-black py-1 px-2 mr-2 cursor-pointer"
            v-model="selectedClass.name"
            readonly
            v-on:click="()=>{open = !open}"
          />
          <svg
            v-on:click="closeMenu"
            v-if="open" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24"
            stroke="black"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
          </svg>
          <svg
            v-on:click="openMenu"
            v-else xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24"
            stroke="black" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
          </svg>
        </div>
        <ul v-if="open"
            class="w-full rounded-b-md border border-main-orange absolute bg-black max-h-[230px] overflow-y-scroll">
          <li v-for="item of classes"
              class="px-2 py-2 hover:cursor-pointer hover:bg-main-orange w-full border-b border-main-orange flex flex-row justify-between items-center"
              v-on:click="setClassName(item)">
            {{ item.name }}
          </li>
        </ul>

        <div class="flex flex-row items-center mt-4">
          <button
            :disabled="(!choseClass || !choseAttr || lessThanNeed)"
            :class="`${ (!choseClass || !choseAttr || lessThanNeed)? 'hover:cursor-not-allowed bg-push-orange' : ' hover:cursor-pointer hover:underline bg-main-orange'}`"
            class="xl:w-1/3 sm:1/2 rounded-md text-white px-4 py-2 mr-2 uppercase active:bg-push-orange"
            v-on:click="save"
          >
            сохранить
          </button>
          <svg v-if="success" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 ml-10" viewBox="0 0 20 20" fill="white">
            <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
          </svg>
          <span v-else-if="loaded">
            что-то пошло не так
          </span>
        </div>
        <span v-if="choseClass && lessThanNeed" class="text-sm text-red">*количество выбранных атрибутов должно быть не меньше 80%</span>
      </div>

      <div v-if="selectedClass.name"
           class="md:col-start-6 md:col-span-7 col-span-10 grid grid-cols-12 mx-2 rounded-md">
        <div v-on:click="onCellClick" v-for="attr of attributes"
             class="border border-main-orange sm:col-span-4 col-span-6 hover:cursor-pointer hover:underline flex items-center">
          <div class="lg:p-4 p-2 w-full flex flex-row flex-wrap justify-between h-[100%] items-center"
               :class="`${(selectedAttrs.find(el => el.id === attr.id))? 'chosed':'bg-black'}`">
            <p class="w-1/2 ml-1 md:text-sm text-xs">{{ attr.name }}</p>
            <svg :id="attr.id" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1 w-auto"
                 :class="`${(selectedAttrs.find(el => el.id === attr.id))? 'block':'hidden'}`"
                 fill="none" viewBox="0 0 24 24"
                 stroke="white"
                 stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
          </div>
        </div>
        <span v-if="selectedAttrs.length < attributes.length" v-on:click="addAll"
              class="col-span-12 mt-4 cursor-pointer hover:underline text-white">
          Добавить все
        </span>
      </div>
    </div>
  </div>
</template>

<script>

import {getAttributes, getClassAttributes, updateAttributesForClass} from "~/store/firestore";

export default {
  name: "Multiselect",
  props: {
    classes: [],
  },
  data: () => ({
    open: false,
    choseClass: false,
    choseAttr: false,
    lessThanNeed: false,
    loaded: false,
    success: false,
    selectedClass: {},
    selectedAttrs: [],
    classNameField: '',
    attributes: [],
  }),
  async fetch() {
    this.attributes = await getAttributes();
  },
  methods: {
    onClick() {
      window.history.back()
      document.location.reload()
    },
    setClassName(item) {
      this.success = false;
      this.loaded = false;
      this.open = false;
      if (this.selectedClass.name !== item.name) {
        this.selectedAttrs = [];
        let chosedItems = document.getElementsByClassName('chosed');

        for (let item of chosedItems) {
          item.classList.remove('chosed');
        }
      }
      this.selectedClass = item;
    },
    openMenu() {
      this.open = true;
    },
    closeMenu() {
      this.open = false;
    },
    onCellClick(e) {
      this.success = false;
      this.loaded = false;
      let id = -1;
      switch (e.target.nodeName) {
        case 'DIV':
          if (e.target.lastChild) id = e.target.lastChild.id;
          break;
        case 'P':
          if (e.target.nextElementSibling) id = e.target.nextElementSibling.id;
          break;
        case 'svg':
          id = e.target.id
          break;
        default:
          id = -1;
          break;
      }

      if (id !== '' && id !== '-1') {
        let newAttr = this.attributes.find(el => el.id == id);
        (this.selectedAttrs.find(el => el.id == newAttr.id)) ?
          this.selectedAttrs = this.selectedAttrs.filter(el => el.id !== newAttr.id) :
          this.selectedAttrs.push(newAttr);
      }
    },
    save() {
      updateAttributesForClass(this.selectedClass.id, this.selectedAttrs).then(res => {
        this.loaded = true;
        this.success = res;
      });
    },
    addAll() {
      this.attributes.map(attr => {
        if (!this.selectedAttrs.find(el => el.id === attr.id))
          this.selectedAttrs.push(attr);
      });
    },
  },
  watch: {
    selectedClass() {
      this.choseClass = this.selectedClass.name !== '';
      getClassAttributes(this.selectedClass.id).then(res => {
        this.selectedAttrs = res;
      })

    },
    classNameField() {
      this.choseClass = true;
    },
    selectedAttrs() {
      this.choseAttr = this.selectedAttrs.length !== 0;
      this.lessThanNeed = (this.selectedAttrs.length / this.attributes.length < 0.8);
    }
  },
}
</script>

<style scoped>
.chosed {
  @apply bg-main-orange;
}
</style>
