<template>
  <div class="grid grid-cols-12 gap-2 w-full">
    <div class="col-span-12 mb-10 mt-4 z-10 mx-2">
      <NuxtLink to="/maintain" class="flex flex-row mx-2 my-4 z-10 hover:underline">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11 17l-5-5m0 0l5-5m-5 5h12"/>
        </svg>
        <span class="ml-2">назад</span>
      </NuxtLink>
      <h1 v-if="checking" class="z-10 mx-2 mb-4 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">идет
        проверка</h1>
      <h1 v-if="!checking && isOk"
          class="z-10 mx-2 mb-4 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">
        проверка прошла успешно</h1>
      <h1 v-if="!checking && !isOk"
          class="z-10 mx-2 mb-4 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">проверка
        провалена</h1>

      <div v-if="checking" class="splash-screen">
        <div class="spinner-wrapper flex flex-row">
          <div class="spinner"></div>
          <div class="spinner"></div>
          <div class="spinner"></div>
        </div>
      </div>

      <div v-if="!checking">
        <div v-if="isOk" class="flex items-center justify-center h-[300px]">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="green" stroke-width="10">
            <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"/>
          </svg>
        </div>
        <div v-else class="flex flex-col items-center justify-center mx-2">
          <p v-for="(error, index) of errors" class="w-full my-1">{{ error }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {getAttributes, getClassAttributes, getClasses} from "~/store/firestore";

export default {
  name: 'Check',
  data: () => ({
    checking: true,
    isOk: true,
    classes: [],
    attributes: [],
    errors: [],
  }),
  async fetch() {
    this.classes = await getClasses();
    this.attributes = await getAttributes();

    this.classes.map((classItem, classIndex) => {
      getClassAttributes(classItem.id).then(attributes => {
        if (attributes.length > 0) {
          if (attributes.length / this.attributes.length < 0.8) {
            this.isOk = false;
            this.errors.push(classIndex + ') класс \"' + classItem.name + '\" должен содержать в своем описании не менее 80% от всех признаков\n');
          } else
            attributes.map((attr, attrIndex) => {
                if (attr.type) {
                  let hasScaleValues = (attr.type !== '0' || attr.values.length > 0);
                  let hasSize = (attr.type !== '1' || attr.range.length > 0);
                  let hasBool = (attr.type !== '2' || (attr.value !== undefined));

                  this.isOk = this.isOk &&
                    hasScaleValues &&
                    hasSize &&
                    hasBool;

                  if (!hasScaleValues) {
                    this.errors.push(classIndex + '.' + attrIndex + ') класс \"' + classItem.name + '\" не содержит значений для признака ' + attr.name + '\n');
                  }
                  if (!hasSize) {
                    this.errors.push(classIndex + '.' + attrIndex + ') класс \"' + classItem.name + '\" не содержит значений для признака ' + attr.name + '\n');
                  }
                  if (!hasBool) {
                    this.errors.push(classIndex + '.' + attrIndex + ') класс \"' + classItem.name + '\" не содержит значений для признака ' + attr.name + '\n');
                  }
                } else {
                  this.isOk = false;
                  this.errors.push(classIndex + ') класс \"' + classItem.name + '\" содержит некорректный признак ' + attr.name + '. Проверьте его возможные значения или удалите\n');
                }
              }
            );
        } else {
          this.isOk = false;
          this.errors.push(classIndex + ') класс \"' + classItem.name + '\" не содержит признаков\n');
        }
        this.errors.push('\n\n');
      });
    });
    this.checking = false;
  },
  methods: {
    onClick() {
      window.history.back()
      document.location.reload()
    }
  }
}
</script>

<style scoped>
.splash-screen {
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.spinner-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.spinner {
  width: 50px;
  height: 50px;
  margin: 100px auto;
  @apply bg-main-orange;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
  animation: sk-scaleout 1.5s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0.1);
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.1);
    opacity: 1;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }
}
</style>
