<template>
  <div class="grid grid-cols-12 gap-2 w-full">
    <div class="col-span-12 mb-10 mt-4 z-10 mx-2">
      <NuxtLink to="/maintain" class="flex flex-row mx-2 my-4 z-10 hover:underline">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
        </svg>
        <span class="ml-2">назад</span>
      </NuxtLink>

      <div class="px-2 w-3/4">
        <h1 class="z-10 mb-4 text-white uppercase font-bold md:text-4xl text-2xl">введите название класса</h1>
        <div class="flex flex-row items-center">
          <input
            type="text"
            class="w-full text-black py-1 px-2 mr-2 cursor-pointer"
            v-model="name"
          />
          <svg v-on:click="addClass"
               xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 cursor-pointer hover:scale-105"
               fill="none" viewBox="0 0 24 24" stroke="#E28B00" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <span v-if="error" class="text-sm text-red">такой класс уже существует</span>
        <span v-if="tooMuch" class="text-sm text-red">максимальное количество классов - 10</span>

        <div class="flex sm:flex-row flex-col justify-between my-2 sm:items-end">
          <h1 class="z-10 mt-10 mb-4 text-white uppercase font-bold md:text-4xl text-2xl">список классов</h1>
          <div class="flex flex-row items-center mb-4">
            <svg v-on:click="deleteChecks" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 pr-2" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
            <input
              type="checkbox"
              v-model="checks"
              value="all"
              v-on:click="checkAll"
              class="stroke-main-orange text-main-orange"
            />
          </div>
        </div>

        <div v-if="loading" class="splash-screen">
          <div class="spinner-wrapper flex flex-row">
            <div class="spinner"></div>
            <div class="spinner"></div>
            <div class="spinner"></div>
          </div>
        </div>

        <div v-else class="grid grid-cols-12 overflow-y-scroll md:max-h-[321px] max-h-[180px] scrollbar">
          <div class="col-span-12 rounded-md border border-main-orange">
            <div v-for="item of classes"
                 class="pl-2 pr-4 py-2 w-full border-b border-main-orange flex flex-row justify-between items-center"
                 :key="item.id">
              <h2 class="md:text-2xl text-xl">{{ item.name }}</h2>
              <input
                v-if="!baseClasses.includes(item.name)"
                type="checkbox"
                v-model="checks"
                :value=item.id
                v-on:click="removeCheck"
                class="stroke-main-orange text-main-orange"
              />
            </div>
          </div>
          <p v-if="classes.length === 0" class="col-span-12">список классов пуст</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {addClass, deleteClass, getClasses} from '~/store/firestore';

export default {
  name: 'Classes',
  data: () => ({
    baseClasses: ['рококо', 'модерн', 'ампир', 'ренессанс', 'необарокко', 'барокко'],
    classes: [],
    name: "",
    error: false,
    tooMuch: false,
    checks: [],
    loading: true,
  }),
  async fetch() {
    this.classes = await getClasses();
    this.loading = false;
  },
  mounted() {
  },
  methods: {
    addClass() {
      if (this.name !== "" && this.classes.length < 10 && this.name.replace(/\s/g, '') !== '') {
        this.error = this.classes.filter((el) => {
          return el.name.toLowerCase() === this.name.toLowerCase();
        }).length !== 0;
        if (!this.error) {
          addClass(this.name.toLowerCase()).then(id => {
            this.classes.push({
              id: id,
              name: this.name.toLowerCase(),
            });
            this.name = "";
          })
        }
      } else if (this.classes.length >= 10) {
        this.tooMuch = true;
        setTimeout(() => {
          this.tooMuch = false;
        }, 3000);
      }
    },
    checkAll() {
      let flag = !this.checks.includes('all');
      this.checks = [];
      if (flag) {
        this.classes.map(el => {
          if (!this.baseClasses.includes(el.name))
            this.checks.push(el.id);
        });
        this.checks.push('all');
      }
    },
    deleteChecks() {
      this.classes = this.classes.filter(el => !this.checks.includes(el.id));
      this.checks.map(cl => {
        deleteClass(cl);
      });
      this.checks = [];
    },
    removeCheck() {
      if (this.checks.includes('all'))
        this.checks = this.checks.filter(el => {
          return el !== "all";
        })
    }
  }
}
</script>

<style scoped>
</style>
