<template>
  <div class="grid grid-cols-12 gap-2 w-full">
    <div class="col-span-12 mb-10 mt-4 z-10 mx-2">
      <NuxtLink to="/maintain" class="flex flex-row mx-2 my-4 z-10 hover:underline">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11 17l-5-5m0 0l5-5m-5 5h12"/>
        </svg>
        <span class="ml-2">назад</span>
      </NuxtLink>
      <h1 class="z-10 mx-2 mb-4 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">Выберите класс</h1>
      <Multiselect :classes="classes"/>
    </div>
  </div>
</template>

<script>
import {getClasses} from "~/store/firestore";

export default {
  name: 'Description',
  data: () => ({
    classes: [],
  }),
  async fetch() {
    this.classes = await getClasses();
  },
  methods: {
    onClick() {
      window.history.back()
      document.location.reload()
    }
  }
}
</script>

<style scoped>
</style>
