<template>
  <div class="grid grid-cols-12 gap-2 w-full">
    <div class="col-span-12 mb-10 z-10 flex flex-col justify-center items-center">
      <svg viewBox="0 0 120 60"
           xmlns="http://www.w3.org/2000/svg" class="z-10">
        <circle cx="60" cy="34" r="24" fill="transparent"
                class="duration-200 hover:cursor-pointer"
                :class="`${(isHover)? 'scale-110 -translate-x-1.5 -translate-y-1' : 'scale-100'}`" stroke="#E28B00"
                v-on:mouseover="onHover" v-on:mouseleave="onHoverLive"/>
      </svg>
      <div class="z-30 top-[50%] absolute" v-on:mouseover="onHover" v-on:mouseleave="onHoverLive">
        <NuxtLink to="/style-definition"
                  class="uppercase font-bold text-white hover:underline hover:cursor-pointer xl:text-5xl lg:text-4xl sm:text-3xl text-lg">
          Определить стиль
        </NuxtLink>
      </div>

      <Bottom/>
    </div>
  </div>
</template>

<script>

import Bottom from '../components/Bottom'

export default {
  components: {Bottom},
  name: 'IndexPage',
  data: () => ({
    isHover: false,
  }),
  methods: {
    onHover() {
      this.isHover = true;
    },
    onHoverLive() {
      this.isHover = false;
    }
  }
}
</script>
