<template>
  <div class="grid grid-cols-12 gap-2 w-full">
    <div class="col-span-12 mb-10 mt-4 z-10 mx-2">
      <NuxtLink to="/" class="flex flex-row mx-2 my-4 z-10 hover:underline">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11 17l-5-5m0 0l5-5m-5 5h12"/>
        </svg>
        <span class="ml-2">назад</span>
      </NuxtLink>
      <h1 class="z-10 mx-2 mb-4 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">Выберите раздел</h1>

      <div class="z-10 flex flex-col justify-between items-center">
        <NuxtLink id="classes" to="/classes" class="but">Классы</NuxtLink>
        <NuxtLink id="attributes" to="/attributes" class="but">Признаки</NuxtLink>
        <NuxtLink id="prob-values" to="/prob-values" class="but">Возможные значения признаков</NuxtLink>
        <NuxtLink id="description" to="/description" class="but">Признаковое описание классов</NuxtLink>
        <NuxtLink id="values" to="/values" class="but">Значения признаков для классов</NuxtLink>
        <NuxtLink id="check" to="/check" class="but">Проверка полноты</NuxtLink>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Maintain',
  data: () => ({
    isHover: false,
  }),
  methods: {
    onHover() {
      this.isHover = true;
    },
    onHoverLive() {
      this.isHover = false;
    },
    onClick() {
      window.history.back()
      document.location.reload()
    }
  }
}
</script>

<style scoped>
.but {
  @apply flex justify-center rounded-md border-2 border-main-orange py-2 md:px-8 px-2 my-2 md:min-w-[400px] min-w-[318px] hover:scale-105 hover:cursor-pointer hover:underline active:bg-main-orange;
}
</style>
