<template>
  <div class="grid grid-cols-12 gap-2 w-full">
    <div class="col-span-12 mb-10 mt-4 z-10 mx-2 grid grid-cols-12 gap-4">
      <NuxtLink to="/maintain" class="flex flex-row mx-2 mt-4 z-10 hover:underline col-span-12">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11 17l-5-5m0 0l5-5m-5 5h12"/>
        </svg>
        <span class="ml-2">назад</span>
      </NuxtLink>

      <!--LEFT-->
      <div class="md:col-span-6 col-span-10">
        <h1 class="z-10 mx-2 mb-4 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">Выберите признак</h1>

        <div class="w-2/3 bg-transparent transition-all mx-2 relative">
          <div class="w-full bg-white flex flex-row items-center">
            <input
              type="text"
              class="w-full text-black py-1 px-2 mr-2 cursor-pointer"
              v-model="attr.name"
              v-on:click="open = !open"
              readonly
            />
            <svg
              v-on:click="closeMenu"
              v-if="open" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24"
              stroke="black"
              stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"/>
            </svg>
            <svg
              v-on:click="openMenu"
              v-else xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24"
              stroke="black" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
            </svg>
          </div>
          <ul v-if="open"
              class="w-full rounded-b-md border border-main-orange absolute bg-black max-h-[230px] overflow-y-scroll">
            <li v-for="item of attributes"
                class="px-2 py-2 hover:cursor-pointer hover:bg-main-orange w-full border-b border-main-orange flex flex-row justify-between items-center"
                v-on:click="setAtr(item)">
              {{ item.name }}
            </li>
          </ul>
        </div>

        <h1 v-if="attr.name"
            class="z-10 mx-2 mb-4 mt-12 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">Укажите тип
          признака</h1>
        <div v-if="attr.name" class="w-full flex flex-col justify-between items-start mx-2">
          <div v-for="el of types" class="mb-2 hover:underline hover:cursor-pointer">
            <input
              :id="el.id"
              type="radio"
              v-model="type"
              :value="el.id"
            >
            <label :for="el.id" class="text-xl hover:cursor-pointer">{{ el.name }}</label>
          </div>
        </div>
      </div>

      <!--RIGHT-SCAL-->
      <div v-if="type === '0'" class="md:col-span-6 col-span-10">
        <h1 class="z-10 mx-2 mb-2 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">введите значение</h1>
        <div class="flex flex-row items-center w-2/3 mx-2 mt-1">
          <input
            type="text"
            class="w-full text-black py-1 px-2 mr-2 cursor-pointer"
            v-model="valName"
          />
          <svg v-on:click="addValue" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 cursor-pointer hover:scale-105"
               fill="none" viewBox="0 0 24 24" stroke="#E28B00" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
          </svg>
        </div>
        <span v-if="error" class="text-sm text-red mx-2">такое значение уже существует</span>

        <div v-if="values && values.length" class="mt-6 flex flex-row flex-wrap">
          <span v-for="value of values"
                class="py-1 px-2 bg-main-orange rounded-xl m-1 flex flex-row justify-between items-center">
            {{ value }}
            <svg v-on:click="removeValueFromList(value)" xmlns="http://www.w3.org/2000/svg"
                 class="h-7 w-7 ml-2 cursor-pointer" viewBox="0 0 20 20" fill="white">
              <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"/>
            </svg>
          </span>
        </div>
        <div class="flex flex-row items-center mt-6">
          <button
            :disabled="(!values || !values.length || !chosedAttr)"
            :class="`${(!values || !values.length || !chosedAttr)? 'hover:cursor-not-allowed bg-push-orange' : ' hover:cursor-pointer hover:underline bg-main-orange'}`"
            class="w-1/3 rounded-md text-white px-4 py-2 mx-2 uppercase active:bg-push-orange"
            v-on:click="save"
          >
            сохранить
          </button>
          <svg v-if="success" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 ml-10" viewBox="0 0 20 20" fill="white">
            <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"/>
          </svg>
          <span v-else-if="loaded">
            что-то пошло не так
          </span>
        </div>
      </div>

      <!--RIGHT-SIZE-->
      <div v-else-if="type === '1'" class="md:col-span-6 col-span-10">
        <h1 class="z-10 mx-2 mb-2 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">введите единицы
          измерения</h1>
        <input
          type="text"
          class="w-2/3 mx-2 mt-1 text-black py-1 px-2 mr-2 cursor-pointer"
          v-model="measure"
        />

        <h1 class="z-10 mx-2 mb-6 mt-12 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">введите
          интервал
          значений</h1>
        <div class="w-11/12 mx-2 mb-2 mt-12">
          <div class="mt-8 flex flex-row justify-between items-center">
            <p class="font-bold">
              нижняя граница -
            </p>
            <input
              type="number"
              class="w-1/3 mx-2 mt-1 text-black py-1 px-2 mr-2 cursor-pointer"
              v-model="range[0]"
            />
          </div>
          <div class="mt-8 flex flex-row justify-between items-center">
            <p class=" font-bold">
              верхняя граница -
            </p>
            <input
              type="number"
              class="w-1/3 mx-2 mt-1 text-black py-1 px-2 mr-2 cursor-pointer"
              v-model="range[1]"
            />
          </div>
        </div>
        <div class="flex flex-row items-center mt-4">
          <button
            :disabled="(!chosedMeasure || !chosedAttr || !checkRange)"
            :class="`${(!chosedMeasure || !chosedAttr || !checkRange)? 'hover:cursor-not-allowed bg-push-orange' : ' hover:cursor-pointer hover:underline bg-main-orange'}`"
            class="w-1/3 rounded-md text-white px-4 py-2 mx-2 uppercase active:bg-push-orange"
            v-on:click="save"
          >
            сохранить
          </button>
          <svg v-if="success" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 ml-10" viewBox="0 0 20 20" fill="white">
            <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"/>
          </svg>
          <span v-else-if="loaded">
            что-то пошло не так
          </span>
        </div>
        <span class="notification" v-if="!checkRange">Проверьте границы</span>
        <span class="notification" v-else-if="!chosedAttr">Выберите атрибут</span>
        <span class="notification" v-else-if="!chosedMeasure">Введите единицы измерения</span>
      </div>

      <!--RIGHT-BOOL-->
      <div v-else-if="type === '2'" class="md:col-span-6 col-span-10 flex flex-col justify-between">
        <!--        <h1 class="z-10 mx-2 mb-2 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">выберите значение-->
        <!--          признака по умолчанию</h1>-->
        <!--        <div class="mb-2 hover:underline hover:cursor-pointer mx-2 md:mt-8">-->
        <!--          <input-->
        <!--            id="true"-->
        <!--            type="radio"-->
        <!--            v-model="bool"-->
        <!--            value="true"-->
        <!--          >-->
        <!--          <label for="true" class="text-xl hover:cursor-pointer"> true </label>-->
        <!--        </div>-->
        <!--        <div class="mb-2 hover:underline hover:cursor-pointer mx-2">-->
        <!--          <input-->
        <!--            id="false"-->
        <!--            type="radio"-->
        <!--            v-model="bool"-->
        <!--            value="false"-->
        <!--          >-->
        <!--          <label for="false" class="text-xl hover:cursor-pointer"> false </label>-->
        <!--        </div>-->
        <div class="flex flex-row items-center mt-4">
          <button
            :disabled="(!chosedAttr)"
            :class="`${ (!chosedAttr)? 'hover:cursor-not-allowed bg-push-orange' : ' hover:cursor-pointer hover:underline bg-main-orange'}`"
            class="w-1/3 rounded-md text-white  px-4 py-2 mx-2 uppercase active:bg-push-orange"
            v-on:click="save"
          >
            сохранить
          </button>
          <svg v-if="success" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 ml-10" viewBox="0 0 20 20" fill="white">
            <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"/>
          </svg>
          <span v-else-if="loaded">
            что-то пошло не так
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Slider from '@vueform/slider/dist/slider.vue2'
import {getAttributes, getTypes, updateAttribute} from '~/store/firestore';


export default {
  components: {
    Slider,
  },
  name: 'ProbValues',
  data: () => ({
    open: false,
    chosedAttr: false,
    chosedName: false,
    chosedMeasure: false,
    checkRange: false,
    type: '-1',
    measure: '',
    range: [0, 0],
    attr: {},
    types: [],
    attributes: [],
    valName: "",
    values: [],
    error: false,
    errorMeasure: false,
    success: false,
    loaded: false,
  }),
  async fetch() {
    this.attributes = await getAttributes();
    this.types = await getTypes();

  },
  mounted() {
  },
  methods: {
    onClick() {
      window.history.back()
      document.location.reload()
    },
    setAtrName(newName) {
      this.open = false;
      this.attrName = newName;
    },
    toInit() {
      this.chosedAttr = false;
      this.chosedName = false;
      this.chosedMeasure = false;
      this.checkRange = false;
      this.type = '-1';
      this.valName = "";
      this.error = false;
      this.errorMeasure = false;
      this.success = false;
      this.loaded = false;
    },
    setAtr(attr) {
      if (this.attr != attr) {
        this.toInit();
        this.open = false;
        this.attr = attr;
      }
    },
    openMenu() {
      this.open = true;
    },
    closeMenu() {
      this.open = false;
    },
    addValue() {
      if (this.valName !== "") {
        if (!this.values) {
          this.values = [this.valName.toLowerCase()];
          this.valName = "";
        } else if (this.values.filter(el => {
          return el.toLowerCase() === this.valName.toLowerCase()
        }).length === 0) {
          this.error = false;
          this.values.push(this.valName.toLowerCase());
          this.valName = "";
        } else {
          this.error = true;
        }
      }
    },
    removeValueFromList(item) {
      this.values = this.values.filter(el => el !== item);
    },
    save() {
      this.loaded = false;
      switch (this.type) {
        case '0':
          if (this.attr.range) delete this.attr.range;
          if (this.attr.value) delete this.attr.value;
          this.attr = {
            id: this.attr.id,
            name: this.attr.name,
            type: this.attr.type,
            values: this.attr.values,
          };
          break;
        case '1':
          if (this.attr.values) delete this.attr.values;
          if (this.attr.value) delete this.attr.value;
          this.attr = {
            id: this.attr.id,
            name: this.attr.name,
            type: this.attr.type,
            range: this.attr.range,
            meas: this.attr.meas,
          };
          break;
        default :
          if (this.attr.values) delete this.attr.values;
          if (this.attr.range) delete this.attr.range;
          this.attr = {
            id: this.attr.id,
            name: this.attr.name,
            type: this.attr.type,
            value: "false"
          };
          break;
      }
      updateAttribute(this.attr).then(res => {
        this.success = res !== -1;
        this.loaded = true;
      });
    }
  },
  watch: {
    values() {
      this.attr.values = this.values;
    },
    valName() {
      this.chosedName = this.valName !== '';
    },
    measure() {
      this.chosedMeasure = this.measure !== '';
      this.attr.range = this.range;
      this.attr.meas = this.measure;
    },
    attr() {
      this.chosedAttr = this.attr.name !== '';
      if (this.attr.type)
        this.type = this.attr.type;
      this.values = this.attr.values;
    },
    range() {
      this.checkRange = (parseInt(this.range[0]) <= parseInt(this.range[1])) && (this.range[0] !== '') && (this.range[1] !== '');
      if (this.checkRange)
        this.attr.range = this.range;
    },
    type() {
      this.success = false;
      this.loaded = false;
      this.attr.type = this.type;
      switch (this.type) {
        case '0':
          if (this.attr.values)
            this.values = this.attr.values;
          else
            this.attr.values = this.values;
          break;
        case '1':
          if (this.attr.range) {
            this.range = this.attr.range;
            this.measure = this.attr.meas;
          } else {
            this.attr.range = this.range;
            this.attr.meas = this.measure;
          }
          break;
        default :
          break;
      }
    }
  }
}
</script>

<style scoped>
.notification:before {
  content: '*';
}

.notification {
  @apply text-main-orange text-xs;
}
</style>
