<template>
  <div class="grid grid-cols-12 gap-2 w-full">
    <div class="col-span-12 mb-10 mt-4 z-10 mx-2">
      <NuxtLink to="/" class="flex flex-row mx-2 my-4 z-10 hover:underline">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
        </svg>
        <span class="ml-2">назад</span>
      </NuxtLink>
      <h1 v-if="!loading && startChecking && !finishChecking"
          class="z-10 mx-2 mb-4 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">
        определяю
      </h1>
      <h1 v-if="!loading && !startChecking && !isOk"
          class="z-10 mx-2 mb-4 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">
        определение прервано - проверьте полноту</h1>
      <NuxtLink v-if="!loading && !startChecking && !isOk" to="/check" class="mx-2 hover:underline">проверить</NuxtLink>

      <!--agregator-->
      <div  v-if="!loading && !startChecking && isOk">
        <div class="w-11/12 mt-1">
          <div v-for="(item, index) of classAttributes" class="grid grid-cols-12 mx-2 w-full">
            <!--header-->
            <div v-if="index === 0" v-for="(col, i) of cols"
                 :class="`${(i===0)? 'col-span-3': (i===1)? 'col-span-1':'col-span-8'}`"
                 class="flex items-center justify-center py-2 bg-main-orange">
              <p>{{ col }}</p>
            </div>
            <!--body-->
            <div class="cell col-span-3">
              <p>{{ item.name }}</p>
            </div>
            <div class="cell col-span-1">
              <p>{{ types[item.type] }}</p>
            </div>
            <div class="last-cell col-span-8">

              <!--SCAL-->
              <div v-if="item.type === '0'" class="w-full bg-transparent transition-all relative">
                <div class="w-full bg-white flex flex-row items-center justify-between bg-black">
                  <div class="min-h-[40px] my-2 flex flex-row flex-wrap border-main-orange w-[95%] bg-black p-4 pb-1">
                    <span v-for="val of item.values"
                          class="py-1 px-2 bg-main-orange rounded-xl my-1 mr-1 flex flex-row justify-between items-center">
                      {{ val }}
                      <svg v-on:click="removeValueFromList(index,val)" xmlns="http://www.w3.org/2000/svg"
                           class="h-5 w-5 ml-2 cursor-pointer text-white" viewBox="0 0 20 20" fill="white">
                        <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd" />
                      </svg>
                    </span>
                  </div>
                </div>
                <ul
                  class="w-11/12 rounded-b-md border border-main-orange bg-black z-[200] max-h-[110px] overflow-y-scroll scrollbar m-4 mt-1 flex flex-wrap"
                >
                  <li v-for="def of item.default"
                      class="w-1/3 px-2 py-2 hover:cursor-pointer bg-main-orange hover:underline border-b border-main-orange  flex-row justify-between items-center"
                      v-on:click="()=>{addValue(index,def,item)}"
                      :class="`${(item.values.includes(def))? 'hidden' : 'flex'}`"
                  >
                    <p>{{ def }}</p>
                  </li>
                </ul>
              </div>

              <!--SIZE-->
              <div v-if="item.type === '1'" class="w-full mx-4">
                <Single :range="item.range" />
              </div>

              <!--BOOL-->
              <div v-if="item.type === '2'" class="w-full flex flex-row">
                <div class="mb-2 hover:underline hover:cursor-pointer mx-2">
                  <input
                    :id="item.id + '_true'"
                    type="radio"
                    v-model="item.value"
                    value="true"
                  >
                  <label :for="item.id + '_true'" class="text-xl hover:cursor-pointer"> true </label>
                </div>
                <div class="mb-2 hover:underline hover:cursor-pointer mx-2">
                  <input
                    :id="item.id + '_false'"
                    type="radio"
                    v-model="item.value"
                    value="false"
                  >
                  <label :for="item.id + '_false'" class="text-xl hover:cursor-pointer"> false </label>
                </div>
              </div>

            </div>
          </div>
        </div>

        <button
          class="w-1/3 mt-2 rounded-md text-white px-4 py-2 mx-2 uppercase active:bg-push-orange hover:cursor-pointer hover:underline bg-main-orange"
          v-on:click="check"
        >
          определить
        </button>
      </div>

      <div v-if="startChecking && !finishChecking && isOk" class="splash-screen">
        <div class="spinner-wrapper flex flex-row">
          <div class="spinner"></div>
          <div class="spinner"></div>
          <div class="spinner"></div>
        </div>
      </div>

      <div v-if="!loading && startChecking && finishChecking && isOk"
           class="w-full flex flex-col items-start h-[300px]">
        <div class="flex flex-row mx-2 w-full mt-2">
          <h1 class="w-1/2 z-10 mx-2 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">
            Возможный класс
          </h1>
          <span
            class="py-1 px-2 bg-main-orange rounded-xl flex flex-row justify-between items-center hover:cursor-help"
            v-on:click="needHelp = true">
            {{ sortedNears[0].name }} ( {{ sortedNears[0].prob }}% )
          </span>

          <div :class="`${needHelp? 'block' : 'hidden'}`" class="relative z-30" aria-labelledby="modal-title"
               role="dialog" aria-modal="true">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
            <div class="fixed z-10 inset-0 overflow-y-auto">
              <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                <div
                  class="relative inline-block align-bottom bg-black rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                  <div class="bg-black px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start overflow-x-scroll scrollbar pb-8">
                      <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 id="modal-title" class="text-lg text-white leading-6 font-medium">
                          Отличия:</h3>
                        <p v-if="sortedNears[0].prob > 99" class="text-sm text-white">Отличий нет</p>
                        <div v-else class="mt-2 flex flex-col">
                          <span v-for="(reason, i) of sortedNears[0].reason" class="text-main-orange w-full">
                            {{ reason.name }} <span class="text-white">- {{ reason.etalon }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bg-new-blue px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button v-on:click="needHelp = false" type="button"
                            class="text-white mt-3 w-full inline-flex hover:text-black justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-black text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                      OK
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="mx-2 mt-8 grid grid-cols-12 gap-2 w-full">
          <h2 class="col-span-12 z-10 mx-2 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">
            список похожих классов
          </h2>
          <div class="overflow-y-scroll max-h-[400px] px-2 col-span-12">
            <div v-for="(near, i) of sortedNears" v-if="i>0 && near.prob>60"
                 class="w-11/12 flex flex-row border-main-orange border p-2">
              <h1 class="w-1/4">{{ near.name }} ( {{ near.prob }}% )</h1>
              <div class="flex flex flex-col flex-wrap w-3/4">
                <p class="w-full">Отличия:</p>
                <span v-for="(reason, i) of near.reason" class="text-main-orange w-fit pr-2">
                  {{ reason.name }}<span class="text-white">- {{ reason.etalon }}</span>
                  {{ (i < near.reason.length - 1) ? ' / ' : '' }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {getAttributes, getClassAttributes, getClasses} from "~/store/firestore";

export default {
  name: 'StyleDefinition',
  data: () => ({
    loading: true,
    allFieldContain: true,
    startChecking: false,
    finishChecking: false,
    isOk: true,
    needHelp: false,
    classes: [],
    probs: [],
    probClass: {},
    nears: [],
    // sortedNears: [],
    classAttributes: [],
    defaultAttributes: [],
    cols: ['Имя', 'тип', 'значение'],
    types: ['ск.', 'р.', 'лог.'],
  }),
  async fetch() {
    this.classes = await getClasses();
    this.defaultAttributes = await getAttributes();

    this.classes.map(async (classItem, classIndex) => {
      await getClassAttributes(classItem.id).then(attributes => {
        if (attributes.length > 0) {
          if (attributes.length / this.defaultAttributes.length < 0.8) {
            this.isOk = false;
          } else
          attributes.map((attr, attrIndex) => {
              if (attr.type) {
                let hasScaleValues = (attr.type !== '0' || attr.values.length > 0);
                let hasSize = (attr.type !== '1' || attr.range.length > 0);
                let hasBool = (attr.type !== '2' || (attr.value !== undefined));

                this.isOk = this.isOk &&
                  hasScaleValues &&
                  hasSize &&
                  hasBool;
              } else {
                this.isOk = false;
              }
            }
          );
        } else {
          this.isOk = false;
        }
      });
    });

    this.defaultAttributes = this.defaultAttributes.filter(el => el.type!==undefined);
    this.defaultAttributes.map((attr, i) => {
      if (attr.type == '0') {
        attr.default = attr.values;
        attr.values = [];
      }
      else if (attr.type == '1') attr.range = {
        value: parseInt(attr.range[1]),
        min: parseInt(attr.range[0]),
        max: parseInt(attr.range[1])
      }
      else if (attr.type == '2') {
        attr.value = "false";
      }
      return attr.open = false;
    });
    this.classAttributes = [...this.defaultAttributes];

    this.nears = this.classes.map(el => {
      return {errors: 0, reason: [], prob: 100, ...el};
    });
    this.loading = false;
  },
  mounted() {
  },
  methods: {
    onClick() {
      window.history.back()
      document.location.reload()
    },
    removeValueFromList(id, item) {
      this.classAttributes[id].values = this.classAttributes[id].values.filter(el => el !== item);
      this.checkScale();
    },
    checkScale() {
    },
    addProb(val, obj) {
      const helper = (this.probs.filter(f => f.id === obj.id));
      if (helper.length > 0) {
        this.probs = this.probs.map(probV => {
          return (probV.id === obj.id && val < 100) ? {...probV, prob: val} : probV
        })
      } else {
        this.probs.push({prob: val, id: obj.id});
      }
    },
    addValue(id, val, item) {
      if (this.classAttributes[id].values.filter(el => {
        return el.toLowerCase() === val.toLowerCase()
      }).length === 0) {
        this.classAttributes[id].values.push(val);
      }
      item.open = false;
      this.checkScale();
    },
    checkArr(item, etalon, className, atrNum) {
      if (item.values.length > etalon.values.length) {
        this.nears.map(el => {
          let newProb = ((atrNum - el.errors) / atrNum) * 100;
          if (el.name === className) return {
            ...el,
            errors: el.errors += 1,
            reason: el.reason.push({name: item.name, etalon: '[ '+ etalon.values.toString() +' ]'}),
            prob: el.prob = newProb
          };
          this.addProb(newProb, el);
        });
      } else {
        let including = item.values.length > 0;
        item.values.map(atr => {
          etalon.values.filter(el => {
            return el === atr
          });
          (including = including && etalon.values.filter(el => el === atr).length > 0)
        });

        if (!including)
          this.nears.map(el => {
            let newProb = ((atrNum - el.errors) / atrNum) * 100;

            if (el.name === className) return {
              ...el,
              errors: el.errors += 1,
              reason: el.reason.push({name: item.name,  etalon: '[ '+ etalon.values.toString() +' ]'}),
              prob: el.prob = newProb
            };
            this.addProb(newProb, el);
          });
      }
      return this.nears;
    },
    checkRange(item, etalon, className, atrNum) {
      if (item.range.value < etalon.range[0] || item.range.value > etalon.range[1])
        this.nears.map(el => {
          let newProb = ((atrNum - el.errors) / atrNum) * 100;
          if (el.name === className) return {
            ...el,
            errors: el.errors += 1,
            reason: el.reason.push({name: item.name, etalon: '[' + etalon.range[0] + ',' + etalon.range[1] + ']'}),
            prob: el.prob = newProb
          };
          this.addProb(newProb, el);
        });
      return this.nears;
    },
    checkBool(item, etalon, className, atrNum) {
      if (item.value != etalon.value) {
        this.nears.map(el => {
          let newProb = ((atrNum - el.errors) / atrNum) * 100;
          if (el.name === className)
            return {
              ...el,
              errors: el.errors += 1,
              reason: el.reason.push({name: item.name, etalon: etalon.value}),
              prob: el.prob = newProb
            };
          this.addProb(newProb, el);
        });
      }
      return this.nears;
    },
    async check() {
      this.startChecking = true;

      let res = this.classes.map(async classItem => {
        let localAttributes = await getClassAttributes(classItem.id);
        localAttributes = localAttributes.map(async etalAtr => {

          let unknownClassAtr = this.classAttributes.find(el => el.name === etalAtr.name);

          let atrNum = localAttributes.length;
          if (unknownClassAtr && unknownClassAtr.type == '0') {
            this.nears = await this.checkArr(unknownClassAtr, etalAtr, classItem.name, atrNum);
          } else if (unknownClassAtr && unknownClassAtr.type == '1') {
            this.nears = await this.checkRange(unknownClassAtr, etalAtr, classItem.name, atrNum);
          } else if (unknownClassAtr && unknownClassAtr.type == '2') {
            this.nears = await this.checkBool(unknownClassAtr, etalAtr, classItem.name, atrNum);
          } else {
            console.error("unknown type of " + unknownClassAtr.name);
          }
        })
        return true;
      });

      this.finishChecking = true;
    },
  },
  watch: {},
  computed: {
    sortedNears: function () {
      return _.orderBy(this.nears, 'prob', 'desc')
    }
  }
}
</script>

<style scoped>
.cell {
  @apply flex items-center justify-start py-4 bg-black border border-main-orange pl-4;
}

.last-cell {
  @apply flex items-center justify-between bg-black border border-main-orange;
}

.splash-screen {
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.spinner-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.spinner {
  width: 50px;
  height: 50px;
  margin: 100px auto;
  @apply bg-main-orange;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
  animation: sk-scaleout 1.5s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0.1);
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.1);
    opacity: 1;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }
}
</style>
