<template>
  <div class="grid grid-cols-12 gap-2 w-full">
    <div class="col-span-12 mb-10 mt-4 z-10 mx-2">
      <NuxtLink to="/maintain" class="flex flex-row mx-2 my-4 z-10 hover:underline">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11 17l-5-5m0 0l5-5m-5 5h12"/>
        </svg>
        <span class="ml-2">назад</span>
      </NuxtLink>
      <h1 class="z-10 mx-2 mb-4 text-white uppercase font-bold xl:text-5xl md:text-4xl text-2xl">Выберите класс</h1>

      <div class="w-2/3 bg-transparent transition-all mx-2 relative z-40">
        <div class="w-full bg-white flex flex-row items-center">
          <input
            type="text"
            class="w-full text-black py-1 px-2 mr-2 cursor-pointer "
            v-model="selectedClass.name"
            readonly
            v-on:click="()=>{open = !open}"
          />
          <svg
            v-on:click="closeMenu"
            v-if="open" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 cursor-pointer" fill="none"
            viewBox="0 0 24 24"
            stroke="black"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"/>
          </svg>
          <svg
            v-on:click="openMenu"
            v-else xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 cursor-pointer" fill="none"
            viewBox="0 0 24 24"
            stroke="black" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
          </svg>
        </div>
        <ul v-if="open"
            class="w-full rounded-b-md border border-main-orange absolute bg-black max-h-[230px] overflow-y-scroll">
          <li v-for="item of classes"
              class="px-2 py-2 hover:cursor-pointer hover:bg-main-orange w-full border-b border-main-orange flex flex-row justify-between items-center"
              v-on:click="setClass(item)">
            {{ item.name }}
          </li>
        </ul>
      </div>

      <div v-if="selectedClass.name && !hasIncorrect" class="flex flex-row w-full mx-2 mt-12">
        <p>*<span class="text-main-orange">ск.</span> - скалярное _</p>
        <p>_ <span class="text-main-orange">р.</span> - размерное _</p>
        <p>_ <span class="text-main-orange">лог.</span> - логическое</p>
      </div>

      <div v-if="selectedClass.name && !hasIncorrect" class="w-11/12 mt-1">
        <div v-for="(item, index) of classAttributes" class="grid grid-cols-12 mx-2">
          <!--header-->
          <div v-if="index === 0" v-for="(col, i) of cols"
               :class="`${(i===0)? 'col-span-3': (i===1)? 'col-span-1':'col-span-8'}`"
               class="flex items-center justify-center py-2 bg-main-orange">
            <p>{{ col }}</p>
          </div>
          <!--body-->
          <div class="cell col-span-3">
            <p>{{ item.name }}</p>
          </div>
          <div class="cell col-span-1">
            <p>{{ types[item.type] }}</p>
          </div>
          <div class="last-cell col-span-8">

            <!--SCAL-->
            <div v-if="item.type === '0'" class="w-full bg-transparent transition-all relative">
              <div class="w-full bg-white flex flex-row items-center justify-between bg-black">
                <div class="my-2 flex flex-row flex-wrap border-main-orange w-[95%] bg-black">
                  <span v-for="value of item.values"
                        class="py-1 px-2 bg-main-orange rounded-xl m-1 flex flex-row justify-between items-center">
                    {{ value }}
                    <svg v-on:click="removeValueFromList(index,value)" xmlns="http://www.w3.org/2000/svg"
                         class="h-5 w-5 ml-2 cursor-pointer text-white" viewBox="0 0 20 20" fill="white">
                      <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"/>
                    </svg>
                  </span>
                </div>
                <svg
                  :id="item.id"
                  v-on:click="item.open = false"
                  v-if="item.open" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 cursor-pointer" fill="none"
                  viewBox="0 0 24 24"
                  stroke="white"
                  stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"/>
                </svg>
                <svg
                  v-on:click="item.open = true"
                  v-else xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24"
                  stroke="white" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
                </svg>
              </div>
              <ul v-if="item.open"
                  class="w-full rounded-b-md border border-main-orange absolute bg-black z-20 max-h-[230px] overflow-y-scroll scrollbar">
                <li v-for="val of item.default"
                    class="px-2 py-2 hover:cursor-pointer bg-main-orange  hover:opacity-50 opacity-100 w-full border-b border-main-orange flex flex-row justify-between items-center"
                    v-on:click="()=>{addValue(index,val,item)}">
                  <p>{{ val }}</p>
                </li>
              </ul>
            </div>

            <!--SIZE-->
            <div v-if="item.type === '1'" class="w-full mx-4">
              <Range :range="item.default"/>
            </div>

            <!--BOOL-->
            <div v-if="item.type === '2'" class="w-full flex flex-row">
              <div class="mb-2 hover:underline hover:cursor-pointer mx-2">
                <input
                  :id="item.id + '_true'"
                  type="radio"
                  v-model="item.value"
                  value="true"
                >
                <label :for="item.id + '_true'" class="text-xl hover:cursor-pointer"> true </label>
              </div>
              <div class="mb-2 hover:underline hover:cursor-pointer mx-2">
                <input
                  :id="item.id + '_false'"
                  type="radio"
                  v-model="item.value"
                  value="false"
                >
                <label :for="item.id + '_false'" class="text-xl hover:cursor-pointer"> false </label>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div v-if="classAttributes.length>0 && !hasIncorrect" class="flex flex-row items-center mt-4">
        <button
          :disabled="error"
          :class="`${ error? 'hover:cursor-not-allowed bg-push-orange' : ' hover:cursor-pointer hover:underline bg-main-orange'}`"
          class="w-1/3 rounded-md text-white  px-4 py-2 mx-2 uppercase active:bg-push-orange"
          v-on:click="save"
        >
          сохранить
        </button>
        <svg v-if="success" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 ml-10" viewBox="0 0 20 20" fill="white">
          <path fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"/>
        </svg>
        <span v-else-if="loaded">
            что-то пошло не так
        </span>
      </div>
      <p v-if="classAttributes.length===0 && selectedClass.name" class="col-span-12 mx-2 mt-2">класс не содержит
        признаков</p>
      <p v-if="hasIncorrect" class="col-span-12 mx-2 mt-2">класс содержит некорректные признаки - добавьте возможные
        значения или удалите</p>
    </div>
  </div>
</template>

<script>
import Slider from '@vueform/slider/dist/slider.vue2';
import {getAttributes, getClassAttributes, getClasses, updateAttributesValuesForClass} from "~/store/firestore";

export default {
  components: {
    Slider,
  },
  name: 'Values',
  data: () => ({
    open: false,
    loaded: false,
    success: false,
    error: true,
    hasIncorrect: false,
    bool: '',
    classID: 0,
    cols: ['Имя', 'тип', 'значение'],
    scaleValues: [],
    types: ['ск.', 'р.', 'лог.'],
    classes: [],
    classAttributes: [],
    defaultAttributes: [],
    selectedClass: {},
  }),
  async fetch() {
    this.classes = await getClasses();
    this.defaultAttributes = await getAttributes();
    this.loading = false;
  },
  mounted() {
  },
  methods: {
    openMenu() {
      this.open = true;
    },
    closeMenu() {
      this.open = false;
    },
    onClick() {
      window.history.back()
      document.location.reload()
    },
    setClass(item) {
      this.open = false;
      this.hasIncorrect = false;
      this.selectedClass = item;
      this.checkScale();
    },
    removeValueFromList(id, item) {
      this.classAttributes[id].values = this.classAttributes[id].values.filter(el => el !== item);
      this.checkScale();
    },
    checkScale() {
      this.error = (this.classAttributes.filter(attr => {
        return (attr.type === '0' && attr.values.length === 0)
      }).length !== 0) && this.selectedClass.name !== '';
    },
    addValue(id, val, item) {
      if (this.classAttributes[id].values.filter(el => {
        return el.toLowerCase() === val.toLowerCase()
      }).length === 0) {
        this.classAttributes[id].values.push(val);
      }
      item.open = false;
      this.checkScale();
    },
    async save() {
      let result = this.classAttributes;
      result = result.map(attribute => {
        let newField = attribute;
        if (newField.type == '1') {
          newField.range = newField.default.value;
        }
        if (newField.type !== '2') delete newField.default;
        delete newField.open;
        return newField;
      });

      await updateAttributesValuesForClass(this.selectedClass.id, result);
      this.classAttributes = [];
      this.selectedClass = {};
      this.error = true;
      this.hasIncorrect = false;
    }
  },
  watch: {
    selectedClass() {
      getClassAttributes(this.selectedClass.id).then(res => {
        this.classAttributes = res.map(attr => {
          switch (attr.type) {
            case'0':
              attr.default = this.defaultAttributes.find(el => el.id === attr.id).values;
              break;
            case'1':
              let defRange = this.defaultAttributes.find(el => el.id === attr.id).range;
              attr.default = {
                value: [parseInt(attr.range[0]), parseInt(attr.range[1])],
                min: parseInt(defRange[0]),
                max: parseInt(defRange[1])
              }
              break;
            case'2':
              if (!attr.value) attr.value = false;
              break;
            default:
              this.hasIncorrect = true;
              break;
          }
          return {
            open: false,
            ...attr
          }
        });
      });
    },
  }
}
</script>

<style scoped>
.cell {
  @apply flex items-center justify-start py-4 bg-black border border-main-orange pl-4;
}

.last-cell {
  @apply flex items-center justify-between bg-black border border-main-orange;
}
</style>
